ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #909090;
}

li{
	display: inline-block;
	width: auto;
	height: auto;
	padding: 3px;
	float: right;
}

li:hover{
	text-decoration: underline;
}

img{
	
}

html{
	position: relative;
	min-height: 100%;
	font-family: Arial, Helvetica;
	font-size: 12px;
}

body{
	margin: 0 0 100px;
}

form{
	width: auto;
	margin-top: 92px;
	/*margin-left: -85px;*/
}

.pseudo-link{
	position: relative;
	top: 50%;
}

.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
}

.submit{
	height: 30px;
	width: 125px;
	border: none;
	background-color: #f2f2f2;
	color: #808080;
}

#google{
	height: 92;
	width: 272;
	margin-top: -46px;
	margin-left: -136px;
}

#gsearch{
	width: 500px;
	height: 25px;
	margin-top: 71px;
	margin-left: -250px;
	margin-bottom: 25px;
	background-image: url('googlemic.png');
	background-size: 20px 25px;
	background-repeat: no-repeat;
	background-position: right;
	border: 1px solid #c8c8c8;
}

#submit{
	margin-left: -125px;
}

#header{
	width: auto;
	text-align: right;
	padding: 20px;
}

#footer{
	position: absolute;
	border-top: 1px solid #c8c8c8;
	padding: 10px;
	width: 100%;
	text-align: right;
	background-color: #f2f2f2;
	left: 0;
	bottom: 0;
	overflow: hidden;
}

#lfooter{
	text-align: left;
	float: left;
}

#rfooter{
	text-align: right;
	float: right;
}

#submit{
	
}